nav{
    height:64px;
    box-shadow: none !important;
    -webkit-box-shadow:none !important;
}
main{
    position:absolute;
    top:64px;
    left:0;
    width:100%;
}
input[type="text"]{
    user-select: auto;
}
.nav-wrapper .brand-logo img {
    height: 56px;
    vertical-align: middle;
}
.nav-wrapper .brand-logo{
    font-size:14pt;
}

#text{
    font-size:14pt;
    font-family: serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#text span{
    margin-right:5px;
    border-radius:3px;
    cursor: pointer;
}

#text span:hover, #text span:active{
    background:#ddd;
}

#text span.active{
    background:#00b9cd;
    color:#fff;
}


@media screen and (min-width:600px){
    /*toast shows at left bottom.*/
    #toast-container {
     top: auto !important;
     right: auto !important;
     bottom: 10px;
     left:10px;
    }
}
